[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pyyaml = "*"
requests = "*"
certifi = "==2017.4.17"
tqdm = "*"
pygments = "*"

[dev-packages]

[requires]
python_version = "3.8"
